// Config
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./config/variables";
@import "./config/reset";

// Components
@import "./components/header";
@import "./components/footer";
@import "./components/main";
@import "./components/board";
@import "./components/infos";
@import "./components/buttons";
@import "./components/link-btns";
@import "./components/videos-board";
@import "./components/video";

// Screens
@import "./screens/home";
@import "./screens/watch";

// Defaults

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $bg;
  color: white;
  width: 100%;
}
