.video__data {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .video__data-row {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-child {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
    }
    .video__title {
      font-size: 26px;
    }
    .video__createdAt {
      font-size: 12px;
    }
    .video__owner {
      font-size: 14px;
      a {
        margin-left: 5px;
        color: cornflowerblue;
        text-decoration: underline;
      }
    }
  }
}

.comment-section {
  margin-top: 50px;
  display: flex;
  width: 100%;
  .comment-section__col {
    width: 50%;
  }
  .comment-list {
    width: 100%;
    .comment-list__comment {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 10px;
      background-color: white;
      color: black;
      margin-bottom: 15px;
    }
  }
}

.video__comment-form {
  display: flex;
  flex-direction: column;
}
