doctype html
html(lang="ko")
  head
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title #{ pageTitle } | Wetube
  body
    header
      nav 
        a(href="/") go Home
        a(href="/videos/upload") Upload Video
        a(href="/search") Search
        a(href="/join") Join
      h1= pageTitle
    main
      block content
  include partials/footer.pug
