extends base

block content
  form(method="POST")
    input(name="username", type="text", required, placeholder="Username")
    input(name="password", type="password", required, placeholder="Password")
    input(type="submit", value="Login")
    a(href="https://github.com/login/oauth/authorize?client_id=입력값") Continue with GitHub &rarr;
  hr
  div 
    span Don't have an account?
    a(href="/join") Create now &rarr;
