extends base
include mixins/video

block content
  form.board(method="GET")
    .infos 
      input.info__input(
        placeholder="Search by title",
        type="text",
        name="keyword"
      )
    input.btn(value="Search", type="submit") 

    div 
      each video in videos 
        +video(video) 
