extends base.pug

block content
  if errorMessage
    span= errorMessage
  form(action="/videos/upload", method="POST")
    input(placeholder="Title", required, type="text", name="title")
    input(placeholder="Description", required, type="text", name="description")
    input(
      placeholder="Hastags, separated by commna.",
      required,
      type="text",
      name="hashtags"
    )
    input(type="submit", value="Upload Video")
